h1{
    color: brown;
    background-color: darkturquoise;
}
p{
    background-color: aqua;
}
i{
    color: blue;
    background-color: aquamarine;
}
ol{
    color: crimson;
    background-color: greenyellow;
    
    
}